@if (busyService.busyRequestCount === 0) {
    <h1 class="text-2xl font-bold text-primary uppercase">Shopping Cart</h1>
    <div class="max-w-screen-xl mx-auto mt-6 bg-white w-full">
        <!-- <div class="flex flex-col items-center justify-center py-12 w-full"> -->
            <!-- <mat-icon class="icon-display mb-8">{{icon()}}</mat-icon> -->
            <p class="text-black text-sm mb-4">
                {{message()}}
            </p>
            <button mat-flat-button (click)="onAction()" class="bg-black text-white w-[200px]">
                {{actionText()}}
            </button>
        <!-- </div> -->
    </div>
}
