@use '@angular/material' as mat;

@tailwind base;
@tailwind components;
@tailwind utilities;

$customTheme: mat.define-theme();


@include mat.core();

.custom-theme {
    @include mat.all-component-themes($customTheme);

    // override the button styles
    .mdc-button, .mdc-raised-button, .mdc-stroked-button, .mdc-flat-button {
        @apply rounded-none
    }
}

.container {
    @apply mx-auto max-w-screen-2xl
}

.text-primary {
    color: #374151;
}

// button.match-input-height {
//     height: var(--mat-form-field-container-height) !important;
// }

.mdc-notched-outline__notch {
    border-right-style: none !important;
}

.mat-mdc-snack-bar-container.snack-error {
    --mdc-snackbar-container-color: red;
    --mat-snack-bar-button-color: #fff;
    --mdc-snackbar-supporting-text-color: #fff;
}

.mat-mdc-snack-bar-container.snack-success {
    --mdc-snackbar-container-color: green;
    --mat-snack-bar-button-color: #fff;
    --mdc-snackbar-supporting-text-color: #fff;
}

:root {
    --mdc-theme-primary: black;
    --mdc-outlined-text-field-focus-outline-color: black;
}

.mat-mdc-option.mdc-list-item--selected {
    background-color: #c5c5c5 !important; 
}

.mat-mdc-option.mdc-list-item--selected:hover {
    background-color: #e5e7eb !important; 
}
  
.mat-mdc-option:hover {
    background-color: #e5e7eb !important;
}

.mat-mdc-option {
    background-color: #f9fafb !important; 
    color: #000000 !important;       
}

.mat-mdc-option.mdc-list-item {
    font-size: 12px;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    padding-left: 8px !important;
    padding-right: 8px !important;
    min-height: unset !important;
    height: 28px !important;
}

.mat-mdc-select-panel {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    margin: 0 !important;
}

.mat-mdc-paginator-page-size-select .mdc-text-field {
    height: 32px !important;
    min-height: 32px !important;
    padding: 0 !important;
}
  
.mat-mdc-paginator-page-size-select .mat-mdc-form-field-infix {
    padding: 0 8px !important;
    min-height: 32px !important;
}
  
.mat-mdc-paginator-page-size-select .mat-mdc-select-trigger {
    height: 32px !important;
    font-size: 0.75rem !important;
    align-items: center;
}

// ::ng-deep .mat-mdc-progress-spinner .mdc-circular-progress__determinate-circle,
// ::ng-deep .mat-mdc-progress-spinner .mdc-circular-progress__indeterminate-circle-graphic {
//   stroke: white !important;
// }