@if (product) {
    <section class="py-8">
        <div class="max-w-screen-2xl px-4 mx-auto">
            <div class="grid grid-cols-2 gap-6">
                <div class="max-w-lg mx-auto">
                    <img class="w-full" src="{{product.pictureUrl}}" alt="product image">
                </div>
                <div>
                    <h1 class="text-4xl font-semibold text-gray-900">{{product.name}}</h1>
                    <p class="text-md font-semibold text-gray-900">{{product.brand}}</p>
                    <div class="mt-2 items-center gap-4 flex">
                        <p class="text-xl font-semibold text-gray-900">{{product.price | currency}}</p>
                    </div>
                    <p class="mt-4 text-sm text-gray-500">{{product.description}}</p>
                    <div class="flex flex-col mt-4">
                        <label class="text-sm font-medium mb-1">Quantity:</label>
                        <input 
                            type="number" 
                            min="0" 
                            [(ngModel)]="quantity" 
                            class="w-20 h-10 px-2 border border-gray-300 text-sm"
                            style="border-radius: 0;"
                        >
                    </div>
                    <div class="flex gap-4 mt-4">
                        <button [disabled]="quantity === quantityInCart" (click)="updateCart()" mat-flat-button 
                        class="bg-black w-[200px] text-white hover:bg-gray-500" style="border-radius: 0">
                            <!-- <mat-icon>shopping_cart</mat-icon> -->
                            {{getButtonText()}}
                        </button>
                    </div>

                    <!-- <mat-divider></mat-divider> -->
                </div>
            </div>
        </div>
    </section>
}