@if (product) {
    <mat-card appearance="raised" routerLink="/shop/{{product.id}}" class="product-card shadow-none">
        <img src="{{product.pictureUrl}}" alt="image of {{product.name}}">
        <div class="flex justify-between">
            <div>
                <mat-card-content class="mt-2 border-none px-0 py-2">
                    <h2 class="text-sm font-semibold">{{product.name}}</h2>
                    <p class="text-xs font-light">{{product.price | currency}}</p>
                </mat-card-content>
            </div>
            <mat-card-actions (click)="$event.stopPropagation()">
                <button class="w-full" (click)="cartService.addItemToCart(product)">
                    <mat-icon>add_shopping_cart</mat-icon>
                </button>
            </mat-card-actions>
        </div>   
        <!-- <mat-card-actions (click)="$event.stopPropagation()">
            <button mat-stroked-button class="w-full" (click)="cartService.addItemToCart(product)">
                <mat-icon>add_shopping_cart</mat-icon>
                Add to Cart
            </button>
        </mat-card-actions> -->
    </mat-card>
}