<div class="min-h-screen max-w-screen-lg mx-auto">
    <mat-tab-group>
        <mat-tab label="Orders">
            <div class="flex justify-between items-center mt-2 max-w-screen-xl mx-auto">
                <h2 class="text-xl font-semibold uppercase px-4">Customer Orders</h2>
                <!-- TODO -->
                <!-- <mat-form-field appearance="outline" class="mt-2">
                  <mat-label>Filter by status</mat-label>
                  <mat-select (selectionChange)="onFilterSelect($event)">
                    @for (status of statusOptions; track $index) {
                      <mat-option [value]="status">{{status}}</mat-option>
                    }
                  </mat-select>
                </mat-form-field> -->
              </div>
              <div class="p-4 flex flex-col">
                <div>
                  <table mat-table [dataSource]="dataSource" class="bg-white">
                
                    <ng-container matColumnDef="id">
                      <th mat-header-cell *matHeaderCellDef class="uppercase"> No. </th>
                      <td mat-cell *matCellDef="let order"> {{order.id}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="buyerEmail">
                      <th mat-header-cell *matHeaderCellDef class="uppercase"> Buyer Email </th>
                      <td mat-cell *matCellDef="let order"> {{order.buyerEmail}} </td>
                    </ng-container>
                
                    <ng-container matColumnDef="orderDate">
                      <th mat-header-cell *matHeaderCellDef class="uppercase"> Date </th>
                      <td mat-cell *matCellDef="let order"> {{order.orderDate | date: 'short'}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="total">
                      <th mat-header-cell *matHeaderCellDef class="uppercase"> Total </th>
                      <td mat-cell *matCellDef="let order"> {{order.total | currency}} </td>
                    </ng-container>
                
                    <ng-container matColumnDef="status">
                      <th mat-header-cell *matHeaderCellDef class="uppercase">Status</th>
                      <td mat-cell *matCellDef="let order"> {{order.status}} </td>
                    </ng-container>
                
                    <ng-container matColumnDef="action">
                      <th mat-header-cell *matHeaderCellDef class="uppercase">Actions</th>
                      <td mat-cell *matCellDef="let order">
                        <div class="flex gap-2">
                            <button mat-icon-button routerLink="/orders/{{order.id}}" matTooltip="View">
                            <mat-icon>search</mat-icon>
                            </button>
                            <button 
                            [disabled]="order.status === 'Refunded'"
                            mat-icon-button (click)="openConfirmDialog(order.id)" 
                            matTooltip="Refund">
                            <mat-icon>paid</mat-icon>
                            </button>
                        </div>
                      </td>
                    </ng-container>
        
                    <ng-container *matNoDataRow>
                      <div class="p-4">
                        No orders available for this filter
                      </div>
                    </ng-container>
                
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>
                
                  <div class="flex justify-center mt-12">
                    <mat-paginator 
                      class="bg-white"
                      [pageSizeOptions]="[5, 10, 20]"
                      [length]="totalItems"
                      [pageSize]="orderParams.pageSize"
                      showFirstLastButtons
                      (page)="onPageChange($event)"
                    />
                  </div>
                </div>
              </div>        
        </mat-tab>
        
        <mat-tab label="Catalog">
          <h2 class="text-xl font-semibold uppercase p-4">Catalog Placeholder</h2>
        </mat-tab>
        
        <mat-tab label="Customer Service">
          <h2 class="text-xl font-semibold uppercase p-4">Customer Service Placeholder</h2>
        </mat-tab>
    </mat-tab-group>
</div>

<!-- <mat-card class="rounded-none bg-white py-8 max-w-screen-lg mx-auto shadow-none"> -->
