<div class="bg-white p-4">
    <div class="flex items-center justify-between gap-6">
        <a routerLink="/shop/{{item().productId}}" class="shrink order-1 flex justify-between">
            <img src="{{item().pictureUrl}}" alt="product image" class="h-20 w-20">
            <a routerLink="/shop/{{item().productId}}" class="ml-6 text-sm font-medium">
                {{item().productName}}
            </a>
        </a>

        <!-- <div class="w-full flex-1 space-y-4 order-2 max-w-md">
            <a routerLink="/shop/{{item().productId}}" class="font-medium">
                {{item().productName}}
            </a>

            <div class="flex items-center gap-4">
                <button mat-button color="warn" (click)="removeItemFromCart()">
                    <mat-icon>delete</mat-icon>
                    Delete
                </button>
            </div>
        </div> -->

        <div class="flex items-center justify-between order-2">
            <div class="flex items-center justify-center gap-2">
                <button mat-icon-button (click)="decrementQuantity()" class="mr-2">
                    -
                </button>

                <div class="font-semibold text-sm">{{item().quantity}}</div>

                <button mat-icon-button class="hover:bg-none ml-2" (click)="incrementQuantity()">
                    +
                </button>
            </div>
            
            <div class="flex items-center justify-center gap-2">
                <div class="text-end w-32 mr-4">
                    <p class="font-bold text-sm">{{item().price | currency}}</p>
                </div>

                <button mat-icon-button class="text-black hover:bg-none" (click)="removeItemFromCart()">
                    <mat-icon class="text-sm">close</mat-icon>
                </button>
            </div>
        </div>

    </div>
</div>