<mat-card class="max-w-md mx-auto mt-20 p-8 bg-white rounded-none">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="text-start mb-4">
            <h1 class="text-2xl font-bold text-primary uppercase">Login</h1>
        </div>
        <!-- <mat-form-field appearance="outline" class="w-full mb-4">
            <mat-label class="text-black">Email address</mat-label>
            <input formControlName="email" type="email" placeholder="name@example.com" matInput />
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-full mb-4">
            <mat-label class="text-black">Password</mat-label>
            <input formControlName="password" type="password" placeholder="Password" matInput />
        </mat-form-field> -->
        <div class="space-y-4 mb-6">
            <input
                type="email"
                formControlName="email"
                placeholder="name@example.com"
                class="w-full text-sm border border-black px-2 py-1 focus:outline-none focus:ring-1 focus:ring-black"
            />
            <input
                type="password"
                formControlName="password"
                placeholder="Password"
                class="w-full text-sm border border-black px-2 py-1 focus:outline-none focus:ring-1 focus:ring-black"
            />
        </div>

        <button mat-flat-button type="submit" class="w-full py-2 bg-black text-white">Sign in</button>
    </form>
</mat-card>