@if (order) {
    <mat-card class="rounded-none bg-white py-8 max-w-screen-lg mx-auto shadow-none">
        <div class="w-full px-4">
            <div class="flex justify-between">
                <h2 class="text-xl uppercase text-center font-semibold">Order summary for order #{{order.id}}</h2>
                <button (click)="onReturnClick()" mat-flat-button class="text-white hover:bg-gray-900 bg-black">{{buttonText}}</button>
            </div>
            <div class="mt-4 py-3 border-t border-gray-200 flex gap-16">
                <div class="space-y-2">
                    <h4 class="text-md font-semibold">Billing and Delivery Information</h4>
                    <dl>
                        <dt class="text-sm font-medium">Shipping Address</dt>
                        <dt class="text-sm mt-1 font-light">{{order.shippingAddress | address}}</dt>
                    </dl>
                    <dl>
                        <dt class="text-sm font-medium">Payment Info</dt>
                        <dt class="text-sm mt-1 font-light">{{order.paymentSummary | paymentCard}}</dt>
                    </dl>
                </div>
                <div class="space-y-2">
                    <h4 class="text-md font-semibold">Order Details</h4>
                    <dl>
                        <dt class="text-sm font-medium">Email Address</dt>
                        <dt class="text-sm mt-1 font-light">{{order.buyerEmail}}</dt>
                    </dl>
                    <dl>
                        <dt class="text-sm font-medium">Order Status</dt>
                        <dt class="text-sm mt-1 font-light">{{order.status}}</dt>
                    </dl>
                    <dl>
                        <dt class="text-sm font-medium">Order Date</dt>
                        <dt class="text-sm mt-1 font-light">{{order.orderDate | date: 'medium'}}</dt>
                    </dl>
                </div>
            </div>

            <div class="mt-4">
                <div class="border-y border-gray-200">
                    <table class="w-full text-center">
                        <tbody class="divide-y divide-gray-200">
                            @for (item of order.orderItems; track item.productId) {
                                <tr>
                                    <td class="py-4">
                                        <div class="flex items-center gap-4">
                                            <img src="{{item.pictureUrl}}" alt="product image" 
                                                class="w-10 h-10">
                                            <span class="text-sm">{{item.productName}}</span>
                                        </div>
                                    </td>
                                    <td class="p-4 text-sm">x{{item.quantity}}</td>
                                    <td class="p-4 text-right text-sm">{{item.price | currency}}</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="space-y-4 mt-4">
                <p class="text-md font-semibold">Order Details</p>
                <div class="space-y-4">
                    <div class="space-y-2">
                        <dl class="flex items-center justify-between gap-4">
                            <dt class="font-medium text-gray-500 text-sm">Subtotal</dt>
                            <dd class="font-medium text-gray-900 text-sm">{{order.subtotal| currency}}</dd>
                        </dl>
                        <dl class="flex items-center justify-between gap-4">
                            <dt class="font-medium text-gray-500 text-sm">Discount</dt>
                            <dd class="font-medium text-green-500 text-sm">-$0.00</dd>
                        </dl>
                        <dl class="flex items-center justify-between gap-4">
                            <dt class="font-medium text-gray-500 text-sm">Delivery fee</dt>
                            <dd class="font-medium text-gray-900 text-sm">{{order.shippingPrice | currency}}</dd>
                        </dl>
                    </div>
        
                    <dl class="flex items-center justify-between gap-4 border-t border-gray-200 pt-2">
                        <dt class="font-medium text-gray-500 text-sm">Total</dt>
                        <dd class="font-medium text-gray-900 text-sm">{{order.total | currency}}</dd>
                    </dl>
                </div>
    
            </div>

        </div>
    </mat-card>
}